* {
  margin: 0;
  padding: 0; }

.page {
  position: relative; }

.bottom-section {
  position: absolute;
  bottom: 0px; }
  .bottom-section .links {
    margin-bottom: 30px;
    transition: 0.5s; }
    .bottom-section .links a {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 20px;
      border-radius: 5px; }

.settings-tray {
  height: 400px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  transition: height 0.5s; }
  .settings-tray.closed {
    height: 0px; }
  .settings-tray .settings {
    text-align: right; }
  .settings-tray .big-label {
    font-weight: bold;
    font-family: serif;
    font-size: 18px; }
  .settings-tray .small-label {
    font-family: sans-serif;
    font-size: 16px; }
  .settings-tray .warning {
    background: black;
    color: white;
    padding: 0 6px;
    border-radius: 10px; }
    .settings-tray .warning::after {
      content: "!"; }
  .settings-tray #scale {
    margin-top: 15px; }
