* {
  margin : 0;
  padding: 0;
}


$transluscent: rgba(256, 256, 256, 0.7);
// * { outline: solid 0.25rem hsla(210, 100%, 100%, 0.9); }

.page {
  position: relative;
}

.bottom-section {
  position: absolute;
  bottom: 0px;
  .links {
    margin-bottom: 30px;
    transition: 0.5s;
    a {
      background-color: $transluscent;
      padding: 20px;
      border-radius: 5px;
      &.triangled {
        border-radius: 5px 5px 0px 0px;
      }
    }
    .triangled::after {
      content:'';
      position: absolute;
      top: 38px;
      left: 50%;
      margin-left: -46px;
      width: 92px;
      height: 0;
      border-top: solid 12px $transluscent;
      // border-bottom: solid 12px rgba(256, 256, 256, 0.7);
      border-left: solid 5px transparent;
      border-right: solid 5px transparent;
    }

  }
}

.settings-tray {
  height: 400px;
  width: 100vw;
  background-color: $transluscent;
  overflow: hidden;
  transition: height 0.5s;

  &.closed {
    height: 0px;
  }

  // input[type="range"] {
  //   max-width: 200px;
  // }


  .settings {
    text-align: right;
  }

  .big-label {
    font-weight: bold;
    font-family: serif;
    font-size: 18px;
  }
  .small-label {
    font-family: sans-serif;
    font-size: 16px;
  }
  .warning {
    background: black;
    color: white;
    padding: 0 6px;
    border-radius: 10px;
    &::after {
      content: "!";
    }
  }
  #scale {
    margin-top: 15px;
  }
  // .distribution-settings,
  // .viz {
  //   display: inline-block;
  // }

  // .distribution-settings {
  //   th {
  //   }
  //   td.dist-name {
  //     text-align: right;
  //   }
  // }
}
