* {
  margin : 0;
  padding: 0;
}

html {
    height  : 100%;
    overflow: hidden;
    position: relative;
}
body {
    height  : 100%;
    overflow: auto;
    position: relative;
}

$transluscent: rgba(256, 256, 256, 0.8);
// * { outline: solid 0.25rem hsla(210, 100%, 100%, 0.9); }

.page {
  position: relative;
}

.bottom-section {
  position: absolute;
  bottom: 0px;
  .links {
    margin-bottom: 30px;
    transition: 0.5s;
    a {
      background-color: $transluscent;
      border-radius: 5px;
      display: flex;
      width: 100%;
      max-width: 130px;
      height: 50px;
      align-items: center;
      justify-content: center;
      margin: 0 auto;


      color: rgb(0, 110, 207);

      text-decoration: none;
      &:hover {
        width: 95%;
        text-decoration: none;
      }

      font-size: 16px;
      font-weight: bold;

      @media screen and (max-width: 320px) {
        font-size: 13px;
      }
    }

    // adapted from: https://css-tricks.com/the-shapes-of-css/
    // (which in turn cites: https://twitter.com/apticknor)
    .chevron-container {
      width: 50px;
      display: flex;
      margin: 0 auto;
      height: 0;
    }
    $angle: 15deg;
    #chevron {
      position: absolute;
      text-align: center;
      width: 54px;
      bottom: 9px;

      &:before,
      &:after {
        height: 8px;
        background: $transluscent;
        content: '';
        position: absolute;
        top: 20px;

        transition: all .5s;
      }

      &:before {
        left: 0;
        width: 50%;
        transform: skew(0deg, $angle);
      }
      &:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -$angle);
      }

      &.rotate {
        &:before {
          transform: skew(0deg, -$angle);
        }
        &:after {
          transform: skew(0deg, $angle);
        }
      }
    }
  }
}

.tray {
  height: 400px;
  width: 100vw;
  background-color: $transluscent;
  overflow: hidden;
  transition: height 0.5s;

  &.closed {
    height: 0px;
  }

  // input[type="range"] {
  //   max-width: 200px;
  // }

  #distribution-settings-tray {
    // this should be half the padding that we add in
    // splash.js:toggleSettings
    padding-top: 10px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    font-family: serif;
  }

  .settings {
    text-align: right;
  }

  .big-label {
    font-weight: bold;
    font-family: serif;
    font-size: 18px;
  }
  .small-label {
    font-family: sans-serif;
    font-size: 16px;

    &.mobile {
      display: none;
    }
    @media screen and (max-width: 667px) {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: inherit;
      }
    }
  }
  .warning {
    background: black;
    color: white;
    padding: 0 6px;
    border-radius: 10px;
    &::after {
      content: "!";
    }
  }
  .viz {
    padding-bottom: 10px;
  }

  @media screen and (max-width: 480px) {
    p {
      font-size: 12px;
    }
    .big-label {
      font-size: 16px;
    }
    .small-label {
      font-size: 10px;
    }
  }

  #scale {
    margin-top: 15px;
    max-width: 200px;
  }
  .scale-row {
    @media screen and (max-width: 667px) {
      text-align: left;
      #scale {
        margin-top: 5px;
      }
    }
  }

}
