{% extends 'base.html' %}

{% block external_js %}{% endblock %}

{% block maincontent %}
  <img style="border-radius:50%;height:250px;" src="/img/hat.jpg" alt="Lincoln wearing a hat.">
  <h1>Lincoln Swaine-Moore</h1>

  <h2>
    Me
  </h2>
  <ul>
    <li>Cool</li>
    <li>Funny</li>
    <li>Winsome</li>
    <li>Good at making nice looking websites (present company excepted)</li>
  </ul>
  <h2>
    Work
  </h2>
  <ul>
    <li>Swing Left - Senior Software Engineer (current)</li>
    <li>Quorum - Software Engineer</li>
  </ul>
  <h2>
    Links
  </h2>
  <ul>
    <li>Email: <a href="mailto:lswainemoore@gmail.com">lswainemoore@gmail.com</a></li>
    <li>Twitter: <a target="_blank" href="https://twitter.com/lswainemoore">https://twitter.com/lswainemoore</a></li>
    <li>LinkedIn: <a target="_blank" href="https://www.linkedin.com/in/lincoln-swaine-moore/">https://www.linkedin.com/in/lincoln-swaine-moore/</a></li>
  </ul>
  <h2>Likes</h2>
  <ul>
    <li>Sci-fi (other <a href="/reading">books</a> too)</li>
    <li>SQL databases</li>
    <li>Music (not all, but most)</li>
    <li>Making the computer <a href="/doodling">doodle</a> for me</li>
    <li>Detroit Pistons and Washington Wizards :/</li>
    <li>Web/browser experiments (e.g. <a href="/having-fun-with-favicons">dynamic favicons</a>)</li>
    <li>Maps</li>
  </ul>
{% endblock %}
