{% set title = 'Lincoln is...doodling' %}
{% set breadcrumb_link = '/writing' %}

{% extends "base.html" %}

{% block external_js %}
  <script type="text/javascript" src="js/jQuery.js"></script>
{% endblock %}
{% block internal_js %}
  <script type="text/javascript" src="js/doodling.js"></script>
{% endblock %}

{% block external_css %}
{% endblock %}
{% block internal_css %}
  <link rel="stylesheet" href="css/doodling.css">
{% endblock %}


{% block maincontent %}
  <h1>
    Doodling
  </h1>

  <div id="links"></div>

  <iframe id="doodle" src=""></iframe>

</body>
{% endblock %}
