{% set title = 'Lincoln is...goofing around' %}
{% set breadcrumb_link = '/writing' %}

{% extends "base.html" %}

{% block favicons %}
<link id="fav" rel="shortcut icon" type="image/svg+xml" href=""/>
{% endblock %}

{% block external_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block internal_js %}
<script>
  $(document).ready(function() {

    // TODO
    // - make search/bounce boxes rectanges (requires h/v scaling differentiation)
    // - reset button for search
    // - fix styling for small screens
    // - transform vendor prefixes
    // - white background/black box for bouncing favicon

    // SHARED

    var link = $('#fav');

    var setSVG = (s) => {
      link.attr('href', s);
    };

    var setSVGSolidColor = (c) => {
      setSVG(solidSVG(c));
    };

    var setSVGText = (text) => {
      setSVG(textSVG(text));
    };

    var SVG = (inside) => {
      return `data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16">${inside}</svg>`
    };

    var solidSVG = (colorStr) => {
      return SVG(`<rect height="16" width="16" fill="${colorStr}" />`);
    };

    var textSVG = (text) => {
      return SVG(`<text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">${text}</text>`);
    };


    // DIVIDED

    // swap favicon color on mouseover
    // see: https://stackoverflow.com/a/43646435
    $('.split > div').each(function() {
      $(this).mouseover(function(e) {
        setSVGSolidColor($(this).attr('id'));
      });
    });


    // BOOTY

    class Point {
      constructor (x, y) {
        this.x = x;
        this.y = y;

        // scale appropriately
        var box = searchBox();
        this.cx = x * box[0].offsetWidth;
        this.cy = y * box[0].offsetHeight;
      };
    };

    var searchState = {
      found: false,
      loc: null,
      maxDistFromLoc: null,
    };


    var searchBox = () => {
      return $('#search');
    };

    var booty = () => {
      return $('#booty');
    };

    var distance = (p0, p1) => {
      return Math.sqrt(Math.pow(p0.cx - p1.cx, 2) + Math.pow(p0.cy - p1.cy, 2));
    };

    var eligibleRandom = () => {
      // we don't want the booty on the edge of the box,
      // so scale randomness down slightly.
      return .1 + .8 * Math.random();
    };

    var pickSearchLoc = () => {
      searchState.loc = new Point(eligibleRandom(), eligibleRandom());
      searchState.maxDistFromLoc = Math.max(
        distance( new Point(0, 0), searchState.loc),
        distance( new Point(1, 0), searchState.loc),
        distance( new Point(0, 1), searchState.loc),
        distance( new Point(1, 1), searchState.loc),
      );
      booty()
        .css('opacity', 0)
        .css('top', `${searchState.loc.cy - 35}px`)    // these hardcoded numbers are for centering based on width/height
        .css('left', `${searchState.loc.cx - 40}px`);
    };
    pickSearchLoc();

    var distanceFromLoc = (p) => {
      return distance(searchState.loc, p);
    };

    var cubic = (x) => {
      // this makes it slightly easier to find it, because it
      // makes small differences when you're closer more noticable.
      return x * x * x;
    };

    var pctToWarmth = (pct) => {
      if (pct > .5) {
        return `rgba(0, 0, 255, ${cubic(2 * (pct - .5))})`;
      }
      else {
        return `rgba(255, 0, 0, ${cubic(2 * .5 - pct)})`;
      }
    };

    searchBox()
      .mouseover(function() {
        $(this).mousemove((e) => {
          if (! searchState.found) {
            var box = $(this);
            var boxLoc = box.offset();
            var currentLoc = new Point(
              (e.pageX - boxLoc.left) / box[0].offsetWidth,
              (e.pageY - boxLoc.top) / box[0].offsetHeight
            );
            var d = distanceFromLoc(currentLoc);
            var dPct = d /searchState.maxDistFromLoc;
            setSVGSolidColor(pctToWarmth(dPct));
          }
        });
      });

    booty()
      .mouseover(() => {
        searchState.found = true;
        setSVGText('💰');
        booty().css('opacity', 1);
      });


    // BOUNCING BALL

    var ball = {
      pos: {
        x: .5,
        y: .5
      },
      vel: {
        x: 0,
        y: 0
      },
      acc: {
        x: 0,
        y: -.05
      }
    };

    // speed lost on walls
    const bounceFactor = .95;

    // speed lost just with time (otherwise rolls for a long time)
    const dragFactor = .99;

    const radius = .1;
    const windowSize = 400;

    // keep track of whether we're currently
    // looping, so we can cancel on mouseexit
    var intervalLoop;

    var drawBall = (scale) => {
      $('#ball').css('left', ball.pos.x * scale);
      $('#ball').css('bottom', ball.pos.y * scale);
    };

    var drawBallSVG = () => {
      setSVG(SVG(`<circle cx="${ball.pos.x * 16 + radius}" cy="${16 - (ball.pos.y * 16 + radius)}" r="${radius * 16}"></circle>`));
    }

    var moveBall = (delta) => {
      for (dir of ['x', 'y']) {
        ball.vel[dir] += delta * ball.acc[dir];
        ball.vel[dir] = dragFactor * ball.vel[dir];
        ball.pos[dir] += delta * ball.vel[dir];

        // collision with wall
        if ((ball.pos[dir] + radius) >= 1 || ball.pos[dir] <= 0) {
          ball.pos[dir] = Math.max(Math.min(ball.pos[dir], 1 - radius), 0);
          ball.vel[dir] = -1 * bounceFactor * ball.vel[dir];
        }
      }
    };

    var hideArrow = () => {
      $('#arrow').css('visibility', 'hidden');
    };

    const state = {
      // are we clicking?
      clicking: false
    };

    $('#bouncing')
      .mouseover(function() {
        hideArrow();
        state.clicking = false;
        // where we started a click.
        var mousedownLoc = {
          x: null,
          y: null
        };

        // stop animating on exit
        $(this).mouseleave(function() {
          clearInterval(intervalLoop);
          intervalLoop = undefined;
        });

        // handle the trajector arrow
        $(this).mousemove((e) => {
          if (!state.clicking) {
            return;
          }
          var arrow = $('#arrow');
          arrow.css('visibility', 'visible');
          arrow.css('background-color', 'black');
          arrow.css('left', (ball.pos.x + radius / 2.) * windowSize);
          arrow.css('bottom', (ball.pos.y + radius / 2.) * windowSize);
          var dist = Math.sqrt(Math.pow(mousedownLoc.x - e.pageX, 2) + Math.pow(mousedownLoc.y - e.pageY, 2))
          arrow.css('height', dist + 'px');
          var angle = Math.atan2(mousedownLoc.y - e.pageY, mousedownLoc.x - e.pageX);
          // little jankiness here...
          if (angle < 0) { 
            angle += 2 * Math.PI;
          }
          angle = angle + Math.PI / 2;
          arrow.css('transform', 'rotate(' + angle + 'rad)')
        });

        $(this).mousedown(function(e) {
          state.clicking = true;
          mousedownLoc.x = e.pageX;
          mousedownLoc.y = e.pageY;
        });
        $(this).mouseup(function(e) {
          state.clicking = false;
          hideArrow();

          ball.vel.x = (mousedownLoc.x - e.pageX) / windowSize;
          ball.vel.y = (e.pageY - mousedownLoc.y) / windowSize;
        });

        // don't start looping if we somehow exited without clearing.
        // that would make it go double speed.
        if (!intervalLoop) {
          intervalLoop = setInterval(function(){
            if (!state.clicking) {
              moveBall(.1);
              drawBall(windowSize);
              drawBallSVG();
            }
          }, 30);
        }
      });
  });
</script>
{% endblock %}

{% block internal_css %}
<link rel="stylesheet" href="/css/maincontent.css">
<style>
  .split {
    margin-bottom: 20px;
  }
  .split > div {
    height: 400px;
    width: 50%;
    display: inline-block;
  }

  .experiment-container {
    width: 100%; 
    text-align: center;
  }

  .experiment {
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    height: 400px;
    width: 400px;
    border: 3px solid black;
    background-color: white;
  }
  #search > #booty {
    opacity: 0;
    position: absolute;
    height: 80px;
    width: 70px;
    font-size: 70px;
  }
  #bouncing > #ball {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: black;
    position: absolute;
    left: 200px;
    bottom: 200px;
  }
  #bouncing > #arrow {
    background-color: black;
    position: absolute;
    visibility: hidden;
    transform-origin: bottom center;
    width: 2px;
  }
</style>
{% endblock %}

{% block maincontent %}
  <h1>Fun with Favicons</h1>
  <h2>Background</h2>
  <p>
    Favicons can be SVGs! SVGs can be generated procedurally and encoded as data URIs! You can accomplish really silly things with this information!
  </p>
  <p>
    Note: this page will be mystifying if you're not using a browser that supports favicons (e.g. mobile), or if you're using Safari, which has different standards and mystifies me.
  </p>
  <p>
    Credit to Matthew Wrayfield and <a target="_blank" href="https://matthewrayfield.com/articles/animating-urls-with-javascript-and-emojis/">this awesome article</a>, which was the inspiration behind this.
  </p>

  <h2>A minimalist demo</h2>
  <p>
    Mouse over the two squares to switch the color of the favicon.
  </p>
  <div class="split">
    <div id="blue" style="background-color: blue;"></div><div id="red" style="background-color: red;"></div>
  </div>
  <h2>More fun</h2>
  <p>
    Next up: find the buried treasure! Mouse over the box, and your metal detector (favicon) will tell you if you're getting warmer (red) or cooler (blue).
  </p>
  <div class="experiment-container">
    <div class="experiment" id="search">
      <div id="booty">💰</div>
    </div>
  </div>
  <h2>A (very legit) game engine</h2>
  <p>
    And sure, if we wanted to watch a ball bounce, we could do it inline, but what if we wanted to do it *at a glance* in the tab bar?? Click and drag to launch it around your favicon. Note: animation only runs while your pointer is in box.
  </p>
  <div class="experiment-container">
    <div class="experiment" id="bouncing">
      <div id="ball"></div>
      <div id="arrow"></div>
    </div>
  </div>

  
{% endblock %}