{% set title = 'Lincoln is...reading' %}
{% set breadcrumb_link = '/blue' %}

{% extends "base.html" %}

{% block external_js %}
{% endblock %}

{% block maincontent %}
  <h1>
    Books
  </h1>
  <ul id="reading-list">
    {% for book in books %}
      <li>
        <b><i>{{book[1]}}</i></b> by <b>{{book[2]}}</b> {{ book[4] }}
      </li>
    {% endfor %}
  </ul>
  <p>(current from about beginning of 2020...I probably should find a way to bulk export from my Goodreads account)</p>

  <p><i>🔁 == reread</i></p>
  <p><i>🔈 == audiobook</i></p>
{% endblock %}
