{% set title = 'Lincoln is...reading' %}
{% set breadcrumb_link = '/blue' %}

{% extends "base.html" %}

{% block external_js %}
{% endblock %}

{% block maincontent %}
  <h1>
    Books
  </h1>
  <ul>
    <li><i>Manhattan Beach</i> Jennifer Egan</li>
    <li><i>Uncanny Valley</i> Anna Wiener</li>
    <li><i>The Copenhagen Trilogy</i> Tove Ditlevsen</li>
    <li><i>Waiting for the Barbarians</i> J.M. Coetzee</li>
    <li><i>Gun, With Occasional Music</i> Jonathan Lethem</li>
    <li><i>The Dark Tower: The Gunslinger</i> Stephen King</li>
    <li><i>10:04</i> Ben Lerner</li>
    <li><i>The Body Scout</i> Lincoln Michel</li>
    <li><i>Fleishman Is in Trouble</i> Taffy Brodesser-Akner</li>
    <li><i>Candy House</i> Jennifer Egan</li>
    <li><i>Portnoy's Complaint</i> Philip Roth</li>
    <li><i>Leaving the Atocha Station</i> Ben Lerner</li>
    <li><i>The Only Story</i> Julian Barnes</li>
    <li><i>Those Who Leave and Those Who Stay</i> Elena Ferrante</li>
    <li><i>The Story of a New Name</i> Elena Ferrante</li>
    <li><i>The Sense of an Ending</i> Julian Barnes</li>
    <li><i>No One is Talking About This</i> Patricia Lockwood</li>
    <li><i>Detransition, Baby</i> Torrey Peters</li>
    <li><i>The Human Stain</i> Philip Roth</li>
    <li><i>Atonement</i> Ian McEwan</li>
    <li><i>The Autograph Man</i> Zadie Smith</li>
    <li><i>Everyman</i> Philip Roth</li>
    <li><i>Red at the Bone</i> Jacqueline Woodson</li>
    <li><i>Brat</i> Michael DeForge</li>
    <li><i>Maps and Politics</i> Jeremy Black</li>
    <li><i>Fake Accounts</i> Lauren Oyler</li>
    <li><i>NW</i> Zadie Smith</li>
    <li><i>The Leopard</i> Giuseppe Tomasi di Lampedusa</li>
    <li><i>Brat</i> Michael DeForge</li>
    <li><i>Dark Matter</i> Blake Crouch</li>
    <li><i>2666</i> Roberto Bolaño</li>
    <li><i>The Hitchiker's Guide to the Galaxy</i>* Douglas Adams</li>
    <li><i>The Argonauts</i> Maggie Nelson</li>
    <li><i>Pachinko</i> Min Jin Lee</li>
    <li><i>The Underground Railroad</i> Colson Whitehead</li>
    <li><i>The Idiot</i> Elif Batuman</li>
    <li><i>Barbarian Days: A Surfing Life</i> William Finnegan</li>
    <li><i>Borne</i> Jeff VanderMeer</li>
    <li><i>Lincoln in the Bardo</i> George Saunders</li>
    <li><i>Dawn</i> Octavia Butler</li>
    <li><i>Say Nothing</i> Patrick Radden Keefe</li>
    <li><i>The Remains of the Day</i> Kazuo Ishiguro</li>
    <li><i>Parable of the Sower</i> Octavia Butler</li>
    <li><i>Bad Blood</i> John Carreyrou</li>
    <li><i>Norwegian Wood</i> Haruki Murakami</li>
    <li><i>The Sparrow</i> Mary Doria Russell</li>
    <li><i>The Unwinding</i> George Packer</li>
    <li><i>A Visit from the Goon Squad</i> Jennifer Egan</li>
    <li><i>Libra</i> Don Delillo</li>
    <li><i>Consider Phlebas</i> Iaian M. Banks</li>
    <li><i>Secondhand Time: The Last of the Soviets</i> Svetlana Alexievich</li>
    <li><i>Outline</i> Rachel Cusk</li>
    <li><i>Waiting for Godot</i> Samuel Beckett</li>
    <li><i>Old Man's War</i> John Scalzi</li>
    <li><i>Milkman</i> Anna Burns</li>
    <li><i>Flow My Tears, the Policeman Said</i> Philip K. Dick</li>
    <li><i>Invisible Women: Data Bias in a World Designed for Men</i> Caroline Criado Perez</li>
    <li><i>Let's Explore Diabetes with Owls</i> David Sedaris</li>
    <li><i>A Terrible Country</i> Keith Gessen</li>
    <li><i>My Brilliant Friend</i> Elena Ferrante</li>
    <li><i>Nixonland</i> Rick Perlstein</li>
    <li><i>Less</i> Andre Sean Greer</li>
    <li><i>Hall of Small Mammals: Stories</i> Thomas Pierce</li>
    <li><i>The Wind-Up Bird Chronicle</i> Haruki Murakami</li>
  </ul>
  <p>(current from about beginning of 2020...I probably should find a way to bulk export from my Goodreads account)</p>

  <p><i>* reread</i></p>
{% endblock %}
