<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/splash.js"></script>
    <script type="text/javascript" src="js/jQuery.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="css/splashstyle.css">
  </head>
    <body onload="drawBackground()">
      <div class="page">
        <canvas id='squares'></canvas>
        <div class="bottom-section">
          <div class="links container-fluid">
            <div class="container">
              <div class="row">
                <div class="col-xs-4">
                  <a href="/talking-about-himself">
                    About Me
                  </a>
                </div>
                <div class="col-xs-4">
                  <a href="javascript:void(0)" onclick="toggleSettings()">
                    Settings
                  </a>
                  <div class="chevron-container">
                    <div id="chevron"></div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <a href="/writing">Writing</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tray closed">
            <div id="distribution-settings-tray" class="distribution-settings ">
              <div class="container">
                <p>
                  The alpha values for the squares on this page are drawn from two (<a href="https://en.wikipedia.org/wiki/Truncated_normal_distribution">truncated</a>) normal distributions. Tweak them below to see how differences between the distributions affect the visibility of the text.
                </p>
                <div class="row">
                  <div class="col-xs-12 settings">

                    <div class="row">
                      <div class="col-xs-2 big-label">
                        Distribution
                      </div>
                      <div class="col-xs-5 small-label">Mean</div>
                      <div class="col-xs-5 small-label" title="standard deviation">Std. Dev.</div>
                    </div>
                    <div class="row">
                      <div class="col-xs-2 small-label">Text</div>
                      <div class="col-xs-5">
                        <input class="pull-right" type="range" type="number" min="0" max="1" step="0.05" value="0" id="onAlpha">
                      </div>
                      <div class="col-xs-5">
                        <input class="pull-right" type="range" type="number" min="0" max="2" step="0.05" value="0" id="onNoise">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-2 small-label mobile" title="background">Bg.</div>
                      <div class="col-xs-2 small-label desktop">Background</div>
                      <div class="col-xs-5">
                        <input class="pull-right" type="range" type="number" min="0" max="1" step="0.05" value="0" id="offAlpha">
                      </div>
                      <div class="col-xs-5">
                        <input class="pull-right" type="range" type="number" min="0" max="2" step="0.05" value="0" id="offNoise">
                      </div>
                    </div>

                    <div class="col-xs-12 viz">
                      <div class="hist-wrapper">
                        <div id='hist' class="responsive-plot"><!-- Plotly chart will be drawn inside this DIV --></div>
                      </div>

                    </div>

                    <div class="row scale-row">
                      <div class="col-xs-12 col-sm-2">
                        <div class="big-label">Resolution</div>
                        <div class="small-label"><span class="warning"></span> larger values may slow page</div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <input type="range" type="number" min="1" max="6" step="1" value="3" id="scale">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        // $( document ).ready(function() {
        //  createBackground();
        // });
        $( window ).on("resize", function(){
         drawBackground();
        });
        // setInterval(drawBackground, 100);
        // bind
        [
          'scale',
          'onAlpha',
          'offAlpha',
          'onNoise',
          'offNoise'
        ].forEach(function(name) {
          var slider = $('#' + name);
          slider.val(params[name]);
          slider.on('input', function() {
            params[name] = parseFloat(this.value);
            drawBackground();
          })
        });

      </script>

    </body>



</html>
