{% set title = 'Lincoln is...writing' %}
{% set breadcrumb_link = '/blue' %}

{% extends "base.html" %}

{% block external_js %}{% endblock %}

{% block custom_css %}
<style type="text/css">
  .post {
    border-left: 2px solid #08264d;
    padding-left: 10px;
  }
  .post h2 {
    margin-bottom: 0px;
  }
  .post h3 {
    margin-top: 5px;
    margin-bottom: 10px;
  }
</style>
{% endblock %}

{% block maincontent %}
  <h1>Writing</h1>
  {% for post in posts %}
  <div class="post">
    <h2>
      {{post.title}}
    </h2>
    <h3>
      {{post.dateStr}}
    </h3>
    ↳ <a href="/writing-about/{{post.slug}}">
      Read
    </a>
  </div>
  {% endfor %}
{% endblock %}
