* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  overflow: hidden;
  position: relative; }

body {
  height: 100%;
  overflow: auto;
  position: relative; }

.page {
  position: relative; }

.bottom-section {
  position: absolute;
  bottom: 0px; }
  .bottom-section .links {
    margin-bottom: 30px;
    transition: 0.5s; }
    .bottom-section .links a {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      display: flex;
      width: 100%;
      max-width: 130px;
      height: 50px;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      color: #006ecf;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold; }
      .bottom-section .links a:hover {
        width: 95%;
        text-decoration: none; }
      @media screen and (max-width: 320px) {
        .bottom-section .links a {
          font-size: 13px; } }
    .bottom-section .links .chevron-container {
      width: 50px;
      display: flex;
      margin: 0 auto;
      height: 0; }
    .bottom-section .links #chevron {
      position: absolute;
      text-align: center;
      width: 54px;
      bottom: 9px; }
      .bottom-section .links #chevron:before, .bottom-section .links #chevron:after {
        height: 8px;
        background: rgba(255, 255, 255, 0.8);
        content: '';
        position: absolute;
        top: 20px;
        transition: all .5s; }
      .bottom-section .links #chevron:before {
        left: 0;
        width: 50%;
        transform: skew(0deg, 15deg); }
      .bottom-section .links #chevron:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -15deg); }
      .bottom-section .links #chevron.rotate:before {
        transform: skew(0deg, -15deg); }
      .bottom-section .links #chevron.rotate:after {
        transform: skew(0deg, 15deg); }

.tray {
  height: 400px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  transition: height 0.5s; }
  .tray.closed {
    height: 0px; }
  .tray #distribution-settings-tray {
    padding-top: 10px; }
  .tray .title {
    font-size: 24px;
    font-weight: bold;
    font-family: serif; }
  .tray .settings {
    text-align: right; }
  .tray .big-label {
    font-weight: bold;
    font-family: serif;
    font-size: 18px; }
  .tray .small-label {
    font-family: sans-serif;
    font-size: 16px; }
    .tray .small-label.mobile {
      display: none; }
    @media screen and (max-width: 667px) {
      .tray .small-label.desktop {
        display: none; }
      .tray .small-label.mobile {
        display: inherit; } }
  .tray .warning {
    background: black;
    color: white;
    padding: 0 6px;
    border-radius: 10px; }
    .tray .warning::after {
      content: "!"; }
  .tray .viz {
    padding-bottom: 10px; }
  @media screen and (max-width: 480px) {
    .tray p {
      font-size: 12px; }
    .tray .big-label {
      font-size: 16px; }
    .tray .small-label {
      font-size: 10px; } }
  .tray #scale {
    margin-top: 15px;
    max-width: 200px; }
  @media screen and (max-width: 667px) {
    .tray .scale-row {
      text-align: left; }
      .tray .scale-row #scale {
        margin-top: 5px; } }
