---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for p in collections.all %}{% if p.url and p.data.sitemap != false %}  <url>
    <loc>https://lincoln.swaine-moore.is{{ p.url | cleanUrl }}</loc>
{% if p.data.date %}    <lastmod>{{ p.data.date | dateStr }}</lastmod>
{% endif %}  </url>
{% endif %}{% endfor %}</urlset>
